<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd"> 
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:ui="http://java.sun.com/jsf/facelets"> 

	<h:head>
		<title>Cadastro de Usuários</title>
	</h:head> 

	<h:body> 
		<h1>Cadastro de Usuários</h1>

		<h:form>
			<h:messages/>

			<h:dataTable value="#{usuarioBean.lista}" var="usuario"  rules="rows" cellpadding="5">
				<h:column>
					<h:commandLink action="#{usuarioBean.ativar}">
						<h:graphicImage library="imagens" name="usuario_ativo_#{usuario.ativo}.png" style="border:0"/>
						<f:setPropertyActionListener target="#{usuarioBean.usuario}" value="#{usuario}"/>
					</h:commandLink>
				</h:column>
				<h:column>
					<f:facet name="header">Código</f:facet>
					<h:outputText value="#{usuario.codigo}" />
				</h:column>
				<h:column>
					<h:graphicImage library="imagens" name="bandeira_#{usuario.idioma}.png"/>
				</h:column>
				<h:column>
					<f:facet name="header">Nome</f:facet>
					<h:outputText value="#{usuario.nome}" />
				</h:column>
				<h:column>
					<f:facet name="header">e-Mail</f:facet>
					<a href="mailto:#{usuario.email}">#{usuario.email}</a>
				</h:column>
				<h:column>
					<h:commandLink action="#{usuarioBean.editar}" >
						<h:graphicImage library="imagens" name="editar16.png" style="border:0"/>
						<f:setPropertyActionListener target="#{usuarioBean.usuario}" value="#{usuario}"/>
					</h:commandLink>
				</h:column>
				<h:column>
					<h:commandLink action="#{usuarioBean.excluir}" onclick="if (!confirm('Confirma a exclusão do usuário #{usuario.nome}?')) return false;">
						<h:graphicImage library="imagens" name="excluir16.png" style="border:0"/>
						<f:setPropertyActionListener target="#{usuarioBean.usuario}" value="#{usuario}"/>
					</h:commandLink>
				</h:column>
			</h:dataTable>
		</h:form>
	</h:body>
</html>